:root {
    --color1: rgba(0, 0, 0, 0.87);
    font-family: Inter, Helvetica, Arial, sans-serif;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--color1);
    background-color: white;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    scroll-padding-top: 76px;
    scroll-behavior: smooth;
}

.container {
    width: 60% !important;
    min-width: 320px;
    margin: 0 auto;
}

.navbar-brand img {
    width: auto;
    height: 50px;
}

img {
    transition: transform 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
img:hover {
    transform: scale(1.05);
}

h1 {
    font-weight: bold;
    font-size: 400%;
}

h2 {
    font-weight: bold;
    font-size: 200%;
}

h3 {
    font-weight: bold;
    font-size: 150%;
}

.navbar-dark, .navbar[data-bs-theme=dark] {
    --bs-navbar-color: rgba(255, 255, 255, 0.7) !important;
    --bs-navbar-hover-color: rgba(255, 255, 255, 0.9) !important;
    --bs-navbar-active-color: #fff !important;
    --bs-navbar-brand-hover-color: #fff !important;
    --bs-navbar-toggler-border-color: none !important;
}